<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Moist Inc. | Registrar</title>

		<!-- Core CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" />

		<!-- Fonts & Icons -->
		<link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}" />

		<!-- Layout CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/demo_5/style.css' %}" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'assets/images/moist.png' %}" />
	</head>

	<body>
		<div class="main-wrapper">
			<!-- Navbar -->
			<div class="horizontal-menu shadow-sm">
				<nav class="bottom-navbar">
					<div class="container">
						<ul class="nav page-navigation ml-auto align-items-center">
							<!-- Dropdown Menu -->

							<li class="nav-item mega-menu">
								<a href="#" class="nav-link d-flex align-items-center">
									<i class="link-icon" data-feather="grid"></i>
									<span class="menu-title ml-">Registrar's Office (MOIST INC)</span>
									<i class="down-arrow ml-1"></i>
								</a>
								<div class="submenu">
									<!-- 1st row -->
									<div class="col-group-wrapper row">
										<div class="col-group col-md-3">
											<p class="category-heading">Data Center</p>
											<div class="submenu-item">
												<div class="row">
													<div class="col-md-6">
														<ul>
															<li class="nav-item"><a class="nav-link" href="{% url 'student_list' %}">Students</a></li>
															<li class="nav-item"><a class="nav-link" href="pages/general/blank-page.html">Enrollments</a></li>
															<li class="nav-item"><a class="nav-link" href="pages/general/faq.html">Promotional Reports</a></li>
															<li class="nav-item"><a class="nav-link" href="pages/general/invoice.html">Form 201</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-group col-md-3">
											<p class="category-heading">Kiosk</p>
											<ul class="submenu-item">
												<li class="nav-item"><a class="nav-link" href="pages/auth/login.html">Transaction</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/auth/register.html">Requests</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/auth/register.html">Pending</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/auth/register.html">Overdue</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/auth/register.html">Release</a></li>
											</ul>
										</div>
										<div class="col-group col-md-3">
											<p class="category-heading">Services</p>
											<ul class="submenu-item">
												<li class="nav-item"><a class="nav-link" href="pages/auth/login.html">Evaluation</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/auth/register.html">Reset Portal Password</a></li>
											</ul>
										</div>
										<div class="col-group col-md-3">
											<p class="category-heading">Special Order</p>
											<ul class="submenu-item">
												<li class="nav-item"><a class="nav-link" href="pages/error/404.html">S.O Number</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/error/500.html">Deficients</a></li>
											</ul>
										</div>
									</div>

									<!-- 2nd row -->
									<div class="col-group-wrapper row">
										<div class="col-group col-md-3">
											<p class="category-heading">Logs</p>
											<div class="submenu-item">
												<div class="row">
													<div class="col-md-6">
														<ul>
															<li class="nav-item"><a class="nav-link" href="{% url 'student_list' %}">Visited</a></li>
															<li class="nav-item"><a class="nav-link" href="pages/general/blank-page.html">Added</a></li>
															<li class="nav-item"><a class="nav-link" href="pages/general/faq.html">Edited</a></li>
															<li class="nav-item"><a class="nav-link" href="pages/general/invoice.html">Deleted</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-group col-md-3">
											<p class="category-heading">Documents</p>
											<ul class="submenu-item">
												<li class="nav-item"><a class="nav-link" href="pages/auth/login.html">Curriculums</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/auth/register.html">Register</a></li>
											</ul>
										</div>
										<div class="col-group col-md-3">
											<p class="category-heading">Security</p>
											<ul class="submenu-item">
												<li class="nav-item"><a class="nav-link" href="pages/auth/login.html">Users</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/auth/login.html">Groups</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/auth/register.html">Permissions</a></li>
											</ul>
										</div>
										<div class="col-group col-md-3">
											<p class="category-heading">Error Pages</p>
											<ul class="submenu-item">
												<li class="nav-item"><a class="nav-link" href="pages/error/404.html">404</a></li>
												<li class="nav-item"><a class="nav-link" href="pages/error/500.html">500</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>

							<!-- Logout -->
							<li class="nav-item ml-auto">
								<a class="nav-link text-danger d-flex align-items-center" href="#">
									<i class="link-icon" data-feather="log-out"></i>
									<span class="menu-title ml-1">Logout</span>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

			<!-- Page Content -->
			<div class="page-wrapper">
				<div class="page-content">
					{% block content %}
					<!-- Page-specific content goes here -->
					{% endblock %}
				</div>

				<!-- Footer -->
				<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between bg-light p-3 mt-4 border-top">
					<p class="text-muted text-center text-md-left mb-2 mb-md-0">© 2025 <a href="#" target="_blank">MOIST Inc</a>. All rights reserved.</p>
					<p class="text-muted text-center text-md-left mb-0 d-none d-md-block">Built with <i class="text-primary ml-1 icon-small" data-feather="heart"></i> using Python & Django</p>
				</footer>
			</div>
		</div>

		<!-- Core JS -->
		<script src="{% static 'assets/vendors/core/core.js' %}"></script>
		<script src="{% static 'assets/vendors/datatables.net/jquery.dataTables.js' %}"></script>
		<script src="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>

		<!-- Plugins -->
		<script src="{% static 'assets/vendors/chartjs/Chart.min.js' %}"></script>
		<script src="{% static 'assets/vendors/jquery.flot/jquery.flot.js' %}"></script>
		<script src="{% static 'assets/vendors/jquery.flot/jquery.flot.resize.js' %}"></script>
		<script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
		<script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
		<script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>

		<!-- Template JS -->
		<script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
		<script src="{% static 'assets/js/template.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'assets/js/dashboard.js' %}"></script>
		<script src="{% static 'assets/js/datepicker.js' %}"></script>
	</body>
</html>
